<div id="sidebar">
  <button id="sidebarToggle">☰</button>
  <ul>

    <li><a href="#overview">Overview</a></li>
    <li><a href="#conceptual-design">Conceptual Design</a></li>
    <li><a href="#cad-design-and-part-ordering">CAD Design and Part Ordering</a></li>
    <li><a href="#hardware">Hardware</a></li>
    <li><a href="#cad-designs">CAD Designs</a></li>
    <li><a href="#design-recommendations">Design Recommendations</a></li>
    <li><a href="#3d-printing-setting-overview">3D Printing Setting Overview</a></li>



    
  </ul>
</div>