{% assign members = site.team | where:"role", include.role | sort: "weight" | reverse %}
{% for member in members %}
<div class="card">
    <img class="card-img" src="{{"/assets/img/team/" | append: member.img | relative_url }}"/>
    <div class="card-container">
        <h4><b>{{member.name}}</b></h4>
        {% if member.title != "" %}
        <h7><i>{{member.title}}</i></h7>
        {% endif %}
        <p><i>{{member.email}}</i></p>
        <p>{{member.description}}</p>
    </div>
</div>
{% endfor %}